body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: #e944ff;
    color: #fff;
    padding: 10px 0;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

main {
    padding: 20px;
}


.container {
    max-width: 500px;
    margin: 50px auto;
    background-color: #ffffff;
    border: 1px solid #dddddd;
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.container h1 {
    text-align: center;
    margin-bottom: 30px;
}

.container p {
    text-align: center;
    margin-bottom: 20px;
    font-size: 0.9em;
}

.container label {
    display: block;
    margin-bottom: 5px;
}

.container input,
.container button {
    width: 100%;
    padding: 10px;
    border: 1px solid #dddddd;
    border-radius: 4px;
    font-size: 1em;
    margin-bottom: 10px;
}

.container input:focus,
.container button:focus {
    outline: none;
    box-shadow: 0 0 2px 1px rgba(0, 122, 255, 0.5);
}

.container button {
    background-color: #e944ff;
    color: #ffffff;
    cursor: pointer;border: none;
}

.container button:hover {
    background-color: #e944ff;
}

.form-group {
    margin-bottom: 15px;
}

@media (max-width: 767px) {
    .container {
        margin: 20px;
    }
}

.profile-picture-preview {
    display: none;
    margin: 10px 0;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    box-shadow: 0 2px 4px #e944ff;

    margin-left: 8rem;
}

.profile-picture-preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.input-file-wrapper input {
    opacity: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
}

.input-file-wrapper {
    position: relative;
    display: block;
    width: 100%;
    height: 200px;
    border-radius: 50%;
    border: 1px dashed #ccc;
    box-sizing: border-box;
    text-align: center;
   padding: 20px;
    cursor: pointer;
}

.input-file-wrapper:hover {
    border-color: #007bff;
}

.input-file-wrapper i {
    font-size: 40px;
    line-height: 1.5;
    color: #ccc;
}

.input-file-wrapper.has-file i {
    color: #007bff;
}

.required::after {
    content: "*";
    color: red;
    margin-left: 5px;
}

img {
    width: 110px;
}